@import url("https://fonts.googleapis.com/css2?family=Inter&family=Yeseva+One&display=swap");
@font-face {
  font-family: "Verdana";
  src: url("Verdana.eot");
  src: local("Verdana"), url("Verdana.eot?#iefix") format("embedded-opentype"), url("Verdana.woff2") format("woff2"), url("Verdana.woff") format("woff"), url("Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("Verdana-Bold.eot");
  src: local("Verdana Bold"), local("Verdana-Bold"), url("Verdana-Bold.eot?#iefix") format("embedded-opentype"), url("Verdana-Bold.woff2") format("woff2"), url("Verdana-Bold.woff") format("woff"), url("Verdana-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Verdana";
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1472px;
  margin: 0 5px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Yeseva One";
  font-size: 35px;
  line-height: 120%;
  color: #011936;
  margin: 0px 84px 0px 0px;
}
.header__map {
  font-family: "Verdana";
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #8e4a4e;
  position: relative;
}
.header__map::before {
  content: url(../../img/icons/map.svg);
  position: absolute;
  left: -29px;
  top: 50%;
  transform: translateY(-50%);
}
.header__block-3 {
  display: flex;
  align-items: center;
}
.header__message {
  margin: 0px 70px 0px 0px;
}
.header__profile {
  display: block;
  font-size: 16px;
  line-height: 120%;
  color: #43607c;
  position: relative;
}
.header__profile::before {
  content: url(../../img/icons/profile.svg);
  position: absolute;
  left: -37.5px;
  top: 50%;
  transform: translateY(-50%);
}

.nav ul {
  display: flex;
  align-items: center;
}
.nav__link {
  margin: 0px 30px 0px 0px;
}
.nav__link:last-child {
  margin: 0;
}
.nav__link a {
  font-size: 18px;
  line-height: 120%;
  color: #011936;
}