@import url("https://fonts.googleapis.com/css2?family=Inter&family=Yeseva+One&display=swap");
@import "fonts";
@import "nullstyle.scss";

body {
	font-family: "Verdana";
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1472px;
	margin: 0 5px;
	margin: 0 auto;
}
.header {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px 0;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block-1 {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: block;
		font-family: "Yeseva One";
		font-size: 35px;
		line-height: 120%;
		color: #011936;
		margin: 0px 84px 0px 0px;
	}

	&__map {
		display: block;
		font-family: "Verdana";
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
		position: relative;
	}

	&__map::before {
		content: url(../../img/icons/map.svg);
		position: absolute;
		left: -29px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__block-3 {
		display: flex;
		align-items: center;
	}

	&__message {
		margin: 0px 70px 0px 0px;
	}

	&__profile {
		display: block;
		font-size: 16px;
		line-height: 120%;
		color: #43607c;
		position: relative;
	}

	&__profile::before {
		content: url(../../img/icons/profile.svg);
		position: absolute;
		left: -37.5px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.nav {
	display: block;
	& ul {
		display: flex;
		align-items: center;
	}

	&__link {
		margin: 0px 30px 0px 0px;
	}

	&__link:last-child {
		margin: 0;
	}

	&__link a {
		display: block;
		font-size: 18px;
		line-height: 120%;
		color: #011936;
	}
}

.content {
	margin: 40px 0 80px 0;
	flex: 1 1 auto;
	&__welcome {
		margin: 0px 0px 80px 0px;
	}

	&__cakes {
		margin: 0px 0px 80px 0px;
	}

	&__cupcakes {
		margin: 0px 0px 80px 0px;
	}

	&__register {
		margin: 0px 0px 80px 0px;
	}

	&__confectioners {
		margin: 0px 0px 80px 0px;
	}
}
.welcome {
	&__row {
		display: flex;
	}

	&__block-1 {
		margin: 49px 80px 0px 0px;
	}

	&__title {
		max-width: 463px;
		font-family: "Yeseva One";
		font-weight: 400;
		font-size: 42px;
		line-height: 120%;
		color: #011936;
		margin: 0px 0px 15px 0px;
	}

	&__subtitle {
		max-width: 463px;
		font-size: 16px;
		line-height: 24px;
		color: #43607c;
		margin: 0px 0px 30px 0px;
	}

	&__search {
		margin: 0px 0px 30px 0px;
		display: flex;
	}
	&__search input {
		flex: 1 1 auto;
		display: block;
		border: 1px solid #dfdfdf;
		border-radius: 5px 0px 0px 5px;
		padding: 8px 20px 18px 20px;
		font-size: 16px;
		line-height: 24px;
		color: #43607c;
	}
	&__search button {
		flex: 0 0 auto;
		display: block;
		padding: 14px 30px;
		background: #fdad6d;
		border: 1px solid #fdad6d;
		border-radius: 0px 5px 5px 0px;
		font-size: 18px;
		line-height: 120%;
		color: #8e4a4e;
	}

	&__fast-search {
		margin: 0px 0px 60px 0px;
	}

	&__slider {
		display: flex;
		max-width: 846px;
		min-width: 846px;
		overflow: hidden;
	}

	&__arrows {
		display: flex;
		justify-content: end;
		margin: 0px 0px 15px 0px;
	}

	&__arrows img {
		cursor: pointer;
		display: block;
	}

	&__arrows img:first-child {
		padding: 6px 8.6px 6px 8px;
		margin: 0px 5px 0px 0px;
	}

	&__arrows img:last-child {
		padding: 6px 8px 6px 8.6px;
	}

	&__slides {
		display: flex;
		transform: translateX(0px);
		transition: all 1s ease 0s;
	}
}
.fast-search {
	&__block-1 {
		display: flex;
		margin: 0px 0px 10px 0px;
	}
	&__block-1 a {
		display: block;
		padding: 8.5px 20px;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
		margin: 0px 10px 0px 0px;
		background: #fff2f2;
		border-radius: 40px;
	}
	&__block-1 a:last-child {
		margin: 0;
	}

	&__block-2 {
		display: flex;
		margin: 0px 0px 10px 0px;
	}
	&__block-2 a {
		display: block;
		padding: 8.5px 20px;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
		margin: 0px 10px 0px 0px;
		background: #fff2f2;
		border-radius: 40px;
	}
	&__block-2 a:last-child {
		margin: 0;
	}

	&__block-3 {
		display: flex;
	}
	&__block-3 a {
		display: block;
		padding: 8.5px 20px;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
		margin: 0px 10px 0px 0px;
		background: #fff2f2;
		border-radius: 40px;
	}
	&__block-3 div {
		position: relative;
	}
	&__block-3 div > a {
		cursor: pointer;
		display: block;
		margin: 0 0 0 0;
		padding: 8.5px 45px 8.5px 20px;
	}
	&__block-3 div > a::after {
		content: url(../../img/icons/arrow-down.svg);
		display: block;
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.1s ease 0s;
	}

	&__block-3 div > a.active::after {
		top: 58%;
		transform: translateY(-50%) rotate(180deg);
	}

	&__block-3 div ul {
		display: none;
		position: absolute;
		z-index: 2;
		margin: 10px 0px 0px 0px;
		width: 100%;
		padding: 8.5px 8px;
		background: #fff2f2;
		border-radius: 25px;
		overflow-wrap: break-word;
	}
	&__block-3 div ul.active {
		display: block;
	}
	&__block-3 div ul li a {
		display: block;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
	}
}
.slide {
	margin: 0px 20px 0px 0px;
	&__image {
		margin: 0px 0px 10px 0px;
		border-radius: 5px;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: #43607c;
		text-align: center;
	}
}
.images {
	display: flex;

	&__block-1 img:first-child {
		margin: 0px 0px 20px 0px;
		border-radius: 0px 70px 70px 0px;
	}

	&__block-1 img:last-child {
		border: 1px solid #fff2f2;
		border-radius: 0px 70px;
	}

	&__block-2 img {
		border-radius: 100px 0px;
	}
}
.cakes {
	&__block-1 {
		margin: 0px 0px 20px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: "Yeseva One";
		font-size: 35px;
		line-height: 120%;
		color: #011936;
	}

	&__switch {
		display: flex;
		align-items: center;
	}

	&__all {
		margin: 0px 20px 0px 0px;
		display: block;
		padding: 5.5px 20px;
		background: #dcebf8;
		border-radius: 30px;
		font-size: 14px;
		line-height: 24px;
		color: #43607c;
	}

	&__arrows {
		cursor: pointer;
		display: flex;
	}

	&__arrows img {
		display: block;
		cursor: pointer;
	}

	&__arrows img:first-child {
		padding: 6px 8.6px 6px 8px;
		margin: 0px 5px 0px 0px;
	}
	&__arrows img:last-child {
		padding: 6px 8px 6px 8.6px;
	}

	&__block-2 {
		max-width: 1472px;
		overflow: hidden;
		display: flex;
	}

	&__slides {
		display: flex;
		transform: translateX(0px);
		transition: all 1s ease 0s;
	}

	&__slide {
		margin: 0px 18px 0px 0px;
		display: flex;
		flex-direction: column;
		max-width: 280px;
	}

	&__slide-image {
		flex: 0 0 auto;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
	}

	&__slide-body {
		flex: 1 1 auto;
		padding: 5px 15px 15px 15px;
		display: flex;
		flex-direction: column;
	}

	&__slide-price {
		flex: 0 0 auto;
		margin: 0px 0px 10px 0px;
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		color: #a63a50;
	}

	&__slide-name {
		flex: 1 1 auto;
		height: 100%;
		margin: 0px 0px 5px 0px;
		font-size: 16px;
		line-height: 20px;
		color: #011936;
	}

	&__slide-toppings {
		flex: 0 0 auto;
		font-size: 14px;
		line-height: 120%;
		color: #84a6c2;
	}
}

.cupcakes {
	&__block-1 {
		margin: 0px 0px 20px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: "Yeseva One";
		font-size: 35px;
		line-height: 120%;
		color: #011936;
	}

	&__switch {
		display: flex;
		align-items: center;
	}

	&__all {
		margin: 0px 20px 0px 0px;
		display: block;
		padding: 5.5px 20px;
		background: #dcebf8;
		border-radius: 30px;
		font-size: 14px;
		line-height: 24px;
		color: #43607c;
	}

	&__arrows {
		cursor: pointer;
		display: flex;
	}

	&__arrows img {
		display: block;
		cursor: pointer;
	}

	&__arrows img:first-child {
		padding: 6px 8.6px 6px 8px;
		margin: 0px 5px 0px 0px;
	}
	&__arrows img:last-child {
		padding: 6px 8px 6px 8.6px;
	}

	&__block-2 {
		max-width: 1472px;
		overflow: hidden;
		display: flex;
	}

	&__slides {
		display: flex;
		transform: translateX(0px);
		transition: all 1s ease 0s;
	}

	&__slide {
		margin: 0px 18px 0px 0px;
		display: flex;
		flex-direction: column;
		max-width: 280px;
	}

	&__slide-image {
		flex: 0 0 auto;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
	}

	&__slide-body {
		flex: 1 1 auto;
		padding: 5px 15px 15px 15px;
		display: flex;
		flex-direction: column;
	}

	&__slide-price {
		flex: 0 0 auto;
		margin: 0px 0px 10px 0px;
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		color: #a63a50;
	}

	&__slide-name {
		flex: 1 1 auto;
		height: 100%;
		margin: 0px 0px 5px 0px;
		font-size: 16px;
		line-height: 20px;
		color: #011936;
	}

	&__slide-toppings {
		flex: 0 0 auto;
		font-size: 14px;
		line-height: 120%;
		color: #84a6c2;
	}
}

.register {
	background: #dcebf8;
	padding: 60px 0;
	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-family: "Yeseva One";
		font-weight: 400;
		font-size: 35px;
		line-height: 120%;
		text-align: center;
		color: #011936;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #43607c;
		margin: 0px 0px 20px 0px;
	}

	&__button {
		display: block;
		font-weight: 700;
		font-size: 14px;
		line-height: 24px;
		color: #ffffff;
		background: #43607c;
		border-radius: 30px;
		padding: 8px 20px;
	}
}

.footer {
	background: #011936;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 40px 0;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block-1 {
	}

	&__title {
		display: block;
		font-family: "Yeseva One";
		font-weight: 400;
		font-size: 35px;
		line-height: 120%;
		color: #ffffff;
		margin: 0px 0px 10px 0px;
	}

	&__map {
		display: block;
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;
		color: #8e4a4e;
		padding: 10.5px 20px 10.5px 54px;
		background: #ffffff;
		border-radius: 36px;
		position: relative;
	}

	&__map::before {
		content: url(../../img/icons/map.svg);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 25px;
	}

	&__block-2 {
	}

	&__nav {
	}

	&__nav ul {
		display: flex;
	}
	&__nav ul li {
		margin: 0px 30px 0px 0px;
	}
	&__nav ul li:last-child {
		margin: 0;
	}
	&__nav ul li a {
		display: block;
		font-size: 18px;
		line-height: 120%;
		text-decoration-line: underline;
		color: #ffffff;
	}

	&__block-3 {
	}

	&__rules {
		display: block;
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 50px;
		padding: 10px 26px;
		margin: 0px 0px 10px 0px;
	}

	&__form {
		display: block;
		font-size: 16px;
		line-height: 120%;
		color: #011936;
		background: #ffffff;
		border-radius: 50px;
		padding: 10px 26px;
	}

	&__block-4 {
		text-align: end;
	}

	&__mycake {
		margin: 0px 0px 5px 0px;
	}

	&__mycake a {
		font-size: 14px;
		line-height: 120%;
		color: #ffffff;
	}

	&__rights-reserved {
		margin: 0px 0px 15px 0px;
	}

	&__rights-reserved a {
		font-size: 14px;
		line-height: 120%;
		color: #ffffff;
	}

	&__social-networks {
		display: flex;
		justify-content: flex-end;
	}

	&__social-networks a {
		display: block;
		margin: 0px 20px 0px 0px;
	}

	&__social-networks a:last-child {
		margin: 0;
	}

	&__social-networks a img {
		display: block;
	}
}
.container {
}
